@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;500&display=swap');

:root {
    --azul-claro:#00c3ff;
    --azul-medio:#2a86b8;
    --azul-escuro:#081022;
    --font-principal: 'Raleway', sans-serif;
}

body {
    font-family: var(--font-principal);
    font-size: 1rem;
    font-weight: 200;
    color: #ffffff;
    background-color: var(--azul-escuro);
}
nav{
    height: 4.8rem;
    padding-bottom:0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    position: -webkit-sticky;
    position: sticky;
    top: -2rem;
    background-color:var(--azul-escuro);
}
.menu {
    border-bottom: 0.1rem solid #ffffff;
    display: flex;
}
.menu a {
    margin: 0 1.5rem;
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    line-height: 1.5rem;
    font-size: 1.5rem;
}
.menu a:hover {
    color: var(--azul-claro);
    transition: 0.7s;
}
.main-container-escuro {
    padding: 0 3rem;
    background-color: var(--azul-escuro);
}
.main-container-claro {
    padding: 0 3rem;
    background-color: var(--azul-medio);
}
#section-1 {
    height: 45rem;
    display: flex;
}
.sobre-mim {
    display: flex;
    align-items: center;
    margin: auto;
    max-width: 1200px;
}
.info-perfil {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 200;
    text-align: left;
}
.info-perfil h1 {
    font-size: 4rem;
    line-height: 3.5rem;
    font-weight: 500;
    color:var(--azul-claro);
    margin: 2rem 0 0.5rem;
}
#cargo {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
}
#interesse {
    margin: 0 1rem 5rem 0;
}
.social-media{
    display: flex;
}
.social-media p {
    margin-right: 3rem;
}
.social-media a {
    margin: 0 0.3rem;
}
#imagem-de-perfil {
    border-radius: 50%;
    border: 0.1rem solid var(--azul-claro);
    width: 60%;
}

/* habilidades section-2 */
h2 {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 500;
    padding: 2rem 0;
    margin: 0 auto;
}
#section-2 {
    height: 35rem;
    text-align: center;
}
.habilidades {
    align-items: center;
    margin: auto;
    max-width: 1200px;
}
.box-habilidades {
    display: flex;
    justify-content: space-around;
    margin-top: 2.5rem;
}
.habilidades-logo  {
    text-align: center;
}
.habilidades-logo p {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

/* habilidades section-3 */

#section-3 {
    text-align: center;
    height: 35rem;
}
.box-portifolio {
    display: flex;
    justify-content: space-around;
    margin-top: 2.5rem;
}
.box-job {
    background-color: var(--azul-claro);
    color: var(--azul-escuro);
    font-size: 2rem;
    font-weight: 500;
    width: 20rem;
    height: 20rem;
}
footer {
    background-color: var(--azul-medio);
    width: auto;
    height: 2rem;
}